<form>
        <mat-card-content class="add__form">
          <div fxFlex="50">
            <mat-form-field>
              <input matInput [(ngModel)]="firstName" [ngModelOptions]="{standalone: true}" placeholder="Firstname">
            </mat-form-field>
          </div>
          <div fxFlex="50">
            <mat-form-field>
              <input matInput [(ngModel)]="lastName" [ngModelOptions]="{standalone: true}" placeholder="Lastname">
           </mat-form-field>
         </div>
         <div fxFlex="50">
            <mat-form-field>
              <input matInput [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email">
            </mat-form-field>
          </div>
          <div fxFlex="50">
              <mat-form-field>
              <input matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Password">
              </mat-form-field>
          </div>
        </mat-card-content>
        <br>
      <div class="add__button">
      <button (click)="post()" mat-stroked-button color="accent">Hinzufügen</button>
      </div>
    </form>
