.home__body {
  margin-top: 100px;
  display: flex;
}

.main__table {
  box-shadow: none;
}

table {
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: auto;
}

.button-margin {
  margin: 10px;
}

.userDialog {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.add__button{
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.mat-row:nth-child(even){
  background-color: #eeeeee;
}

.mat-row:nth-child(odd){
  background-color: rgb(253, 251, 251);
}

@media only screen and (max-width: 1050px) {
  .home__body {
    margin-top: 0px;
  }

  table {
    width: 100%;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }

  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }
}
