.home__body {
  margin-top: 100px;
  display: flex;
}

.main__table {
  box-shadow: none;
}

table {
  width: 80%;
  justify-content: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: auto;
}

.button-margin {
  margin: 10px;
}

.userDialog {
  justify-content: center;
  margin: 0 auto;
  display: flex;
  text-align: center;
}

.add__button{
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
}

.mat-row:nth-child(even){
  background-color: #eeeeee;
}

.mat-row:nth-child(odd){
  background-color: rgb(253, 251, 251);
}

@media only screen and (max-width: 1050px){
  .home__body {
    margin-top: 0;
  }
}

@media only screen and (max-width: 750px) {
  .home__body {
    margin-top: 0px;
  }

 .mat-table .mat-header-cell {
    //Hiermit ist der Headweg
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    height:30px;
    margin-bottom: 20px;
  }

  .mat-table .mat-cell:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
  }

  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
