.example-spacer {
  flex: 1 1 auto;
}

.home-icon {
  text-align: center;
  justify-content: center;
  margin: 10px;
}

.fullname {
  margin: 10px;
  color: rgb(221, 55, 13);
  font-weight: normal;
  font-size: smaller;
}

.example-center {
  flex: auto;
}

.logo {
  height: 65px;
  width: 190px;
}
