.fullname {
  margin: 10px;
  color: rgb(221, 55, 13);
  font-weight: normal;
  font-size: smaller;
}

.example-center {
  flex: auto;
}

.logo {
  height: 65px;
  width: 190px;
  display: flex;
  padding: 0 auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
