<div class="content">
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let item of communicationService.list">
    <div [routerLink]="['/post/', item.postId]">
    <mat-card class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>{{item.headLine}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      <mat-card-content>
        <p>
          {{item.value}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
</div>
</div>
