.home__body {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.home__form {
  font-size: large;
}

.header {
  margin-bottom: 30px;
}

.mat-form-field {
  margin-top: 5px;
  display: flex;
}

.actions {
  margin: 10px;
}

button {
  margin: 7px;
}
